.auction-window {
    padding: 0px;
    text-align: center;
    background-image: url(../assets/Images/subasta2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh; /* Asegura que ocupe al menos toda la ventana */
    width: 100vw;
    box-sizing: border-box;
    overflow: auto; /* Si el contenido es mayor que la ventana */
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    width: 50%;
    margin: 0 auto;
}

.search-auction {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    width: 28%; 
    height: 8%;
    position: relative;
    right: 0%;
    left: 65%;
    margin-top: 5%;
    bottom: 10%;
}

.barra {
    width: 80%;
    height: 70%;
    border-radius: 10px;
    border: 2px solid #b29053; 
    display: block;
    font-size: 18px;
    background-color: #fff8e1;
}
  .button-space {
    display: flex;
    justify-content: end;
    text-align: center; 
    margin-right: 7.5%;
   
  }
  
  
.button-add {
    background-color:  #a2471e ; 
    color: white;
    border: none;
    padding: 10px 35px; 
    font-size: 18px;
    border-radius: 15px; 
    cursor: pointer;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4); 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1.5px; 
  }
  
  .button-add:hover {
    background-color: #c98362 ; 
    transform: scale(1.08); 
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.6); 
  }
  
  .button-add:active {
    background-color: #a9784b;
    transform: scale(1); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  }
  


/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
  .search-auction {
      padding-top: 3%;
      width: 90%;
  }
  
  .barra {
      font-size: 16px;
  }
  
  .button-space {
      margin-right: 5%;
  }
  
  .button-add {
      padding: 8px 25px;
      font-size: 16px;
  }
}

@media (max-width: 480px) {
  .search-auction {
      padding-top: 2%;
  }
  
  .barra {
      font-size: 14px;
  }
  
  .button-space {
      margin-right: 3%;
  }
  
  .button-add {
      padding: 6px 20px;
      font-size: 14px;
  }
}