.auction-product-card {
    position: relative; /* Asegura el correcto posicionamiento del contenido */
    width: 230px;
    height: 400px;
    background-image: url('/build/Images/marco1.png'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    border-radius: 20px; /* Redondea los bordes */
    display: flex;
    padding: -20%; /* Espacio interno */
    color: #000; /* Color del texto */
    margin: 1%;
    
}

.product-content {
    position: relative;
    width: 98%;
    height: 94%;
    margin: 7%;
    margin-left: 1.5%;
    margin-right: 1.2%;
    margin-top: 8%;
    display: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Sombra alrededor de la carta */
    border-radius: 15px;
    background-color: rgba(214, 177, 113, 0.8);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}





.product-image {
    width: 50%;
    margin-top: 4%;
    object-fit: cover;
    border-radius: 10px;
}
.product-name {
  width: 85%;
  height: auto; /* Cambiar a auto para ajustar la altura según el contenido */
  font-size: clamp(12px, 2vw, 16px); /* Ajusta el tamaño de fuente entre 16px y 20px */
  font-style: normal;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #000;
  margin: 15px;
  overflow: hidden; /* Oculta el texto que desborda */
}


.auction-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .bid-info, .time-info, .buy-info {
    display: flex;
    align-items: center;
    color: #444;
  }

  .buy-info{
    width: 225px;
  }
  
  .label {
    font-size: 13px;
    font-weight: bold;
    color: #444;
    margin-right: 10px;
    text-transform: uppercase;
  }
  
  .bid-credits , .buy-credits{
    width: 80px;
    background-color: #256d75 ;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #0f0e0e;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin:2%;
   
  }
  .bid-credits{
    margin-right: 1%;
  }
  .buy-credits{
    margin-right: 8%;
  }
  .time-remaining {
    width: 80px;
    background-color:   rgb(7, 85, 108)  ;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    animation: pulse 1.5s infinite;
    margin-right: 5%
  }
  
  .btn-puja{
    border-radius: 5px;
    border-style: double;
    height: 10%;
    width: 50%;
    margin: 0 auto;
    margin-top: 4%;
    color: white;
    font-weight: bold;
    background-color:  #4f3122 ;
  }

  .btn-puja:hover, .btn-puja:active{
    background-color: #78583d ;
  }

  .coin-icon {
    width: 25px; /* Ajusta el tamaño de la moneda */
    height: 25px;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
/* Estilo para la superposición (overlay) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima de todo */
}
