

.fondo {
    background-image: url('../assets/Images/logoInicio.jpeg'); 
    background-size: cover; 
    background-position: top; 
    background-repeat: no-repeat;
    height: 100vh; 
}

.recovery-container {
    padding: 40px;
    border-radius: 10px;
    padding-top: 0%;
    max-width: 700px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    height: 60%;
    justify-content: center;
    vertical-align: middle;
   
}

.recovery-title {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
}

.recovery-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 155, 144,0.8);
    /*background-color: rgba(0, 0, 0, 0.7);*/
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    
}

.form-control {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #050505;
}

.btn-recover {
    display: flex;
    width: 40%;
    height: 20%;
    padding: 20px;
    background-color: #3B5B58;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
    
   
}

.return-button {
    display: flex;
    position: absolute;
    left: 34%; 
    bottom: 30%;
    background-repeat: no-repeat;
    height: 5%;
    width: 4%; 
    float: left;
    background:none;
    border: none;
}

.return-button img {
    width: 100%; 
    height: 100%;
    cursor: pointer;
    background: none;

}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: -10px;
}

.input-error {
    border-color: red;
}

/* Responsive Design */
@media (max-width: 768px) {
    .recovery-container {
        padding: 20px;
    }

    .recovery-title {
        font-size: 24px;
    }

    .recovery-form {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .form-control {
        margin: 5px 0;
    }

    .btn-recover {
        width: 80%;
    }
}
