.auction-winner-container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.winner-details {
    margin-bottom: 20px;
}

.congratulations-message {
    font-size: 1.5em;
    color: #4CAF50;
    margin-bottom: 10px;
}

.winner-announcement {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.product-name1 {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.final-bid {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #333;
}

.product-image1 {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.close-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #45a049;
}
