.registro-container {
    display: flex;
    background-image: url('../assets/Images/fondo.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    height: 100vh; 
    width: 100vw; 
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
