.registro-container {
    display: flex;
    background-image: url('../../public/Images/imagenFondo.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    height: 100vh; 
    width: 100vw; 
    margin: 0;
    padding: 0;
    overflow: hidden; 
}


@media (max-width: 768px) {
    .registro-container {
        background-size: contain; /* Ajusta el fondo */
        flex-direction: column; /* Apila el contenido verticalmente */
    }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .registro-container {
        background-size: cover; /* Asegura que el fondo cubra la pantalla */
        padding: 10px; /* Añade algo de espacio en pantallas pequeñas */
        height: auto; /* Permite que la altura se ajuste al contenido */
    }
}