.registro-container {
    display: flex;
    background-image: url('../Images/fondo.jpeg'); 
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    background-size: cover; 
    background-position: center; 
    height: 100hv;
    margin: 0px;
    padding: 0px;
}