
.form-container {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1300px;
    width: 100%;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    margin-top: 2%;;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh; /* Mantén esta propiedad si quieres que el contenedor tenga una altura mínima */
    height: 90%; /* Cambia a auto si el contenido crece */
    overflow: hidden; /* Evita el desbordamiento */
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: rgba(128, 155, 144, 0.5);
    padding: 20px;
    border-radius: 10px;
    height: 90%; /* Ajusta la altura según el contenido */
    width: 100%;
}

.form-title {
    text-align: center;
    font-size: 36px;
    color: #fff;

}

.form-group {
    display: flex;
    width: 60%;
    height: 20%;
    justify-content: space-between;

}



.form-controlR {
    flex: 1;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

.avatar-uploadR {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Centra horizontalmente */
   
    left: 75%; 
    top: 15%;
    transform: translateX(-50%); /* Corrige el centramiento horizontal */
    position: fixed;
}

.avatar-labelR {
    cursor: pointer;
}

.avatar-circleR {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    margin-top: 0px;
}
.avatar-circleR img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the circle while maintaining aspect ratio */
}


.avatar-inputR {
    display: none;
}

.questions {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.questionsInput {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.questions input{
    width: 90%;
    justify-content: left;
    text-align: center;
    margin-bottom: 10px;
}

.questions-title {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.botonCont {
    align-items: center;
    margin-left: 80%px; /* Ajusta el espacio a la izquierda del botón */
    justify-content: left;
    margin-left: 25%
}

.btn-register {
    width: 20%;
    padding: 15px; /* Ajusté un poco el padding */
    background-color: #3B5B58;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 15%;
    bottom: 28%;
   
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
   
}

.error-message {
    color: red;
    font-size: 10px; /* Tamaño de letra más pequeño */
    position: absolute; /* Posiciona el error sobre el input */
    top: -0px; /* Ajusta esto según sea necesario para que el error esté justo encima del input */
    left: 0; /* Alinea el texto a la izquierda */
    display: none; /* Ocultar por defecto */
}

.return-button1 {
    display: flex;
    position: absolute;
    left: 11%; 
    bottom: 10%;
    background-repeat: no-repeat;
    height: 6%;
    width: 5%; 
    float: left;
    background:none;
    border: none;
    min-width: 15px;
}

.return-button1 img {
    width: 80%; 
    height: 100%;
    cursor: pointer;
    background: none;

}
/* Mostrar error si hay contenido en el span */
.form-controlR .error-message.active {
    display: block;
    border-color: red;
}

.input-error {
    border-color: red;
}




/* Responsive Design */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    .form-title {
        font-size: 24px;
    }

    .register-form {
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        width: 100%;
    }

    .avatar-upload {
        width: 100%;
        margin: 20px 0;
    }

    .avatar-circle {
        width: 100px;
        height: 100px;
    }

    .btn-register {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .form-control {
        margin: 5px;
    }

    .questions input {
        width: 80%;
    }
}
