
.form-container {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1300px;
    width: 100%;
    margin: 0 auto; 
    margin-top: 2%;;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    height: 90%; 
    overflow: hidden; 
}
.register-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
    background-color: rgba(128, 155, 144, 0.5);
    padding: 10px;
    border-radius: 10px;
    height: 100%; 
    width: 100%;
    box-sizing: border-box; 
    overflow: hidden; /* Evita desbordamiento */

    
}

.form-title {
    text-align: center;
    font-size: 36px;
    color: #fff;
    margin: auto;
}


.form-group {
    display: flex;
    width: 60%; 
    max-width: 60%;
    height: 17%; 
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 10px; 
}



.form-controlR {
    flex: 1;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

.avatar-uploadR {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
   
    left: 75%; 
    top: 15%;
    transform: translateX(-50%); 
    position: fixed;
}

.avatar-labelR {
    cursor: pointer;
}

.avatar-circleR {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    margin-top: 0px;
}
.avatar-circleR img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.avatar-inputR {
    display: none;
}
#form-questions{
    display: flex;
    width: 100%; 
    height: 22; 
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 10px; 
}
.questions {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.questionsInput {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.questions input {
    width: 100%; 
    justify-content: left;
    text-align: center;
    margin-bottom: 10px;
}

#form-questions {
    width: 95%; 
    margin: 1%; 
    height: 20%;
}
.questions-title {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 2%;
    display: flex;
    justify-self: center;
    align-items: center;
}

.botonCont {
    align-items: center;
    margin-left: 5%;
    justify-content: left;
}


.btn-register {
    width: 20%;
    padding: 15px; 
    background-color: #3B5B58;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 15%;
    bottom: 28%;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
   
}
.error-text {
    position: relative;
    background-color: #bfe4e1;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    max-width: 120px;
    margin-top: 1px;
    top: 18%;
    font-size: 10px;
}

.error-message {
    color: red;
    display: flex;
   
}

.error {
    border-color: red;
    background-color: rgba(241, 174, 174, 0.3);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

/* Cuando hay error, muestra el mensaje */
.form-controlR.input-error + .error-message {
    visibility: visible;  
}


input.input-error,
select.input-error,
textarea.input-error {
    border-color: red;

    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8); 
}




.return-button1 {
    display: flex;
    position: absolute;
    left: 10%; 
    bottom: 5%;
    background-repeat: no-repeat;
    height: 6%;
    width: 5%; 
    float: left;
    background:none;
    border: none;
    min-width: 15px;
}

.return-button1 img {
    width: 80%; 
    height: 100%;
    cursor: pointer;
    background: none;

}


/* Responsive Design */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    .form-title {
        font-size: 28px;
    }

    .form-group {
        width: 100%;
        flex-direction: column;
    }

    .form-controlR {
        width: 100%;
        margin: 5px 0;
    }

    .avatar-circleR {
        width: 150px;
        height: 150px;
    }

    .btn-register {
        width: 60%;
    }
}

@media (max-width: 480px) {
    .form-container {
        padding: 10px;
    }

    .form-title {
        font-size: 24px;
    }

    .form-group {
        width: 100%;
        flex-direction: column;
    }

    .form-controlR {
        width: 100%;
        margin: 5px 0;
    }

    .avatar-circleR {
        width: 100px;
        height: 100px;
    }

    .btn-register {
        width: 80%;
        bottom: 10%;
    }

    .questions input {
        width: 100%;
    }
}